body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}
nav{
    background-color: skyblue;
    color: black;
    text-align: justify;
}

#converter {
    max-width: 400px;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}